/*----------Imports and Color Schemes Start----------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root {

	--primary-green: #0CCF68;
	--primary-dark-green: #166B32;
	--primary-off-green: #2AAE55;
	--primary-light-green: #50FD89;

	--yellow: #FCCA00;
	--light-yellow: #FFE167;
	--dark-yellow: #A0861F;

	--purple: #670DB3;
	--light-purple: #D4A2FF;
	--dark-purple: #530D8F;

	--blue: #257BEF;
	--light-blue: #5BB3FF;
	--dark-blue: #16588F;

	--white: #FFFFFF;
	--off-white: #E8E8E8;
	--greenish-white: #EEF4F0;
	
	--gray: #9D9D9D;
	--dark-gray: #5E5E5E;
	--light-gray: #CFCFCF;

	--black: #000000;
	--matte-black: #3A3A3A;

	--laravel:#ef3b2d;
	--php:#484c89;
	--html:#f16529;
	--wordpress:#0087be;
	--github: #211f1f;
	--linkedin: #006192;
	--twitter: #1DA1F2;
	--facebook: #1778f2;
	--youtube: #FF0000;
}
/*----------Imports and Color Schemes End----------*/
/*-------------------------------------------------------------------------------------------------------------------*/
/*----------Global Styles Start----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
	font-family: roboto, sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  display: block;
  text-decoration: none !important;
}
img {
	width: 100%;
}
.custom-link-bgdl {
	display: inline-block;
	color: var(--matte-black);
	border-bottom: 1px solid rgba(0,0,0,0);
	transition: .3s ease;
}
.custom-link-bgdl:hover {
	color: var(--primary-dark-green);
	border-bottom: 1px solid rgba(22, 107, 50, 1);
}
.custom-link-gld {
	display: inline-block;
	color: var(--primary-green);
	border-bottom: 1px solid rgba(39, 206, 94, 0);
	transition: .3s ease;
}
.custom-link-gld:hover {
	color: var(--primary-dark-green);
	border-bottom: 1px solid rgba(22, 107, 50, 1);
}
.custom-link-bdl {
	display: inline-block;
	color: var(--blue);
	border-bottom: 1px solid rgba(22, 65, 101, 0);
	transition: .3s ease;
}
.custom-link-bdl:hover {
	color: var(--dark-blue);
	border-bottom: 1px solid rgba(22, 65, 101, 1);
}
.custom-button-bld {
	display: block;
	padding: .6rem 1.6rem;
	border: none;
	background: var(--primary-green);
	color: var(--white);
	border-radius: 5px;
	transition: .3s ease;
}
.custom-button-bld:hover {
	border: none;
	background: var(--primary-off-green);
}
h1, h2, h3, h4, h5, p, i, span {
 margin: 0;
 padding: 0;
 color: var(--matte-black);
}
a.facebook:hover > i {
	color: var(--facebook);
}
a.twitter:hover > i {
	color: var(--twitter);
}
a.youtube:hover > i {
	color: var(--youtube);
}
/*----------Global Styles End----------*/
/*-------------------------------------------------------------------------------------------------------------------*/
.promo-header {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: var(--matte-black);
	padding: .3rem;
	z-index: 99;
	transform: translateY(0);
	transition: .3s ease;
}
.promo-header.non-stick {
	transform: translateY(-100%);
}
.promo-header h1{
	font-size: 1rem;
	color: var(--white);
}

/*----------Nav Start----------*/

nav.main-navbar {
	position: fixed;
	top: 0;
	left: 0;
  background: var(--white);
	width: 100%;
	height: autos;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 1rem;
  border-bottom: 1px solid var(--light-gray);
  padding-top: 28px;
  z-index: 4;
  transition: .3s ease;
}
nav.main-navbar.navbar-sticky {
	padding-top: 0;
}
.logo {
  display: flex;
  align-items: center;
}
.logo h1 {
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  color: var(--primary-green);
}
.logo p {
  font-size: 1rem;
}
nav.main-navbar > ul.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul.main-nav a.navlink {
	position: relative;
	display: flex;
	align-items: center;
  padding: 1.8rem 1.5rem;
  color: var(--primary-dark-green);
	text-transform: uppercase;
	font-size: 1rem;
  transition: .5s ease;
  z-index: 2;
  cursor: pointer;
}
ul.main-nav  a.navlink::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--primary-dark-green);
	transform: translateY(-135%);
	transition: .4s ease-out;
	z-index: -1;
}
ul.main-nav > li.navitem > a > i {
	margin-left: .5rem;
	color: var(--primary-dark-green);
	transition: .5s ease;
}
ul.main-nav > li.navitem:first-child a {
	/*border-left: 1px solid var(--light-gray);*/
}
ul.main-nav > li.navitem:last-child a {
	border-left: none;
}
ul.main-nav a.navlink:hover::before {
	transform: translateY(0);
}
ul.main-nav a.navlink:hover {
	color: white;
}
ul.main-nav a.navlink:hover i{
	color: white;
}
.megamenu {
  position: absolute;
  display: none;
  left: 0;
  width: 100%;
  background: var(--off-white);
  color: white;
  padding: 2rem;
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.2);
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
  z-index: 5;
}
.mega-menu-section h3 {
	font-size: 1.3rem;
	padding: 0 0 .5rem 0;
	color: var(--primary-dark-green);
}
.mega-menu-section a {
	padding: .2rem 0;
}
.mega-more-products {
	margin-top: 1rem;
}
.nav-toggle {
	display: none;
	padding-right: 1rem;
	cursor: pointer;
}
.nav-toggle > .line1, .line2, .line3 {
	margin-bottom: 5px;
	border-radius: 5px;
	width: 26px;
	height: 4px;
	background: var(--primary-green);
	transition: all .8s ease-in-out;
}
.nav-toggle > .line3 {
	margin-bottom: 0;
}
.nav-toggle.active > .line1 {
	transform: rotate(45deg) translate(6.5px, 6.5px );
}
.nav-toggle.active > .line3 {
	transform: rotate(-45deg) translate(5.8px, -6.5px );
}
.nav-toggle.active > .line2 {
	transform: translateX(-50px);
	background: transparent;
}
.test {
	background: orange;
	height: 100vh;
}

/*__________Nav Media Queries Start__________*/

@media screen and (max-width: 1279.9px) {

	ul.main-nav a.navlink {
		min-width: 0;
	  padding: 1.8rem 1rem;
	}
}
@media screen and (max-width: 991.8px) {

	.nav-toggle {
		display: block;
		padding-right: 1rem;
	}
	.dimmer	{
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.4);
		z-index: 1;
		transition: .5s ease-in-out;
	}
	.dimmer.active {
		display: block;
	}
	nav.main-navbar {
		flex-direction: row !important;
		align-items: center !important;
		justify-content: space-between;
		padding: 0 0 0 0;
		padding-top: 28.5px;
	}
	.logo {
		padding: .5rem 1rem;
	}
	ul.main-nav {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background: var(--white);
		align-items: flex-start !important;
		flex-direction: column;
		border-top: 1px solid var(--light-gray);
		transform: translateY(-140%);
		transition: .5s ease-out;
		box-shadow: 0 20px 20px 0 rgba(0,0,0,0.1);
		z-index: 5;
	}
	ul.main-nav.mobile-active {
		transform: translateX(0);
	}
	ul.main-nav > li.navitem {
		width: 100%;
	}
	ul.main-nav a.navlink {
		border-right: none;
		padding: 1rem;
		border-bottom: 1px solid var(--light-gray);
	}
	ul.main-nav > li.navitem:first-child a {
		border-left: none;
		border-right: none;
	}
	ul.main-nav > li.navitem:last-child a {
		border: none;
	}
	ul.main-nav  a.navlink::before {
		display: none;
	}
	nav.main-navbar {
	  flex-direction: column;
	  align-items: flex-start;
	}
	ul.main-nav a.navlink:hover {
		color: var(--primary-dark-green);
	}
	ul.main-nav a.navlink:hover i{
		color: var(--primary-dark-green);
	}
	.megamenu {
		position: relative;
		height: 180px;
		overflow-y: scroll;
		/*-webkit-overflow-scrolling: touch;*/
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
	  padding: 1rem 2rem;
	  box-shadow: none;
	  border-top: none;
	  border-bottom: 1px solid var(--light-gray);
	}
	.mega-menu-section {
		margin-bottom: .5rem;
	}
	.mega-more-products {
		text-align: right;
		margin: 0;
		min-width: 35%;
	}
}

/*__________Nav Media Queries End__________*/
/*----------Nav End----------*/

/*----------Featured Items Start----------*/
section.featured-items-section {
	margin: 2.2rem 0;
}
.featured-items-card {
	overflow: hidden;
	box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.2);
	border-radius: 10px;
	border: 1px solid var(--light-gray);
	transition: .5s ease;
}
.featured-item-header {
	overflow: hidden;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--off-white);
}
.featured-item-header img {
	padding: 3rem;
	max-width: 350px;
	height: auto;
	transition: .5s ease;
}
.featured-item-body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 1rem 1rem 0 1rem;
}
.featured-item-body h1 {
	font-size: 1.6rem;
	margin-bottom: 1rem;
}
.featured-item-body p {
	text-align: justify;
	margin-bottom: 1rem;
}
.featured-item-cta a {
	position: relative;
	display: block;
	padding: 1rem;
	color: var(--dark-blue);
	transition: .3s ease;
	z-index: 1;
}
.featured-item-cta a::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--dark-blue);
	transform: translateY(100%);
	transition: .3s ease-out;
	z-index: -1;
}
/*.featured-items-card:hover {
	box-shadow: 5px 5px 5px 0 rgba(0,0,0,0.4);
}*/
.featured-items-card:hover .featured-item-header img {
	transform: scale(1.1);
}
.featured-items-card:hover .featured-item-cta a {
	color: var(--white);
}
.featured-items-card:hover .featured-item-cta a::before {
	transform:  translateY(0);s
}
.featured-item-cta a:hover::before {
	background: var(--blue);
}

/*__________Featured Items Queries Start__________*/
@media screen and (max-width: 991.8px) {
	
	.featured-items-card {
		margin-bottom: 2rem;
	}
}
/*__________Featured Items Queries End__________*/
/*----------Featured Items End----------*/

.home-service {
	/*background: var(--matte-black);*/
	background: rgb(56,56,56);
	background: linear-gradient(180deg, rgba(56,56,56,1) 50%, rgba(47,47,47,1) 50%);
	padding: 5rem;
}
.home-service-graphic .graphic-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 5rem;
}
.home-service-graphic .graphic-container i {
	font-size: 5rem;
	padding-bottom: 1rem;
}
.home-service-graphic .graphic-container h1 {
	font-size: 1.5rem;
	margin-bottom: .5rem;
}
.home-service-graphic .graphic-container p {
	text-align: justify;
}
.graphic-container > i, .graphic-container > h1, .graphic-container > p {
	color: var(--yellow);
}
@media screen and (max-width: 1440px) {
	.home-service {
		padding: 5rem 1rem;
	}
	.home-service-graphic .graphic-container {
		padding: 0 1rem;
	}
}
@media screen and (max-width: 767.8px) {
	.home-service {
		padding: 3rem;
		background: linear-gradient(-90deg, rgba(56,56,56,1) 50%, rgba(47,47,47,1) 50%);
	}
	.home-service-graphic .graphic-container {
		margin-bottom: 3rem;
	}
	.row .col-md-4:last-child .graphic-container {
		margin-bottom: 0;
	}
}
/*------------------------------------------------------------------------------------------------*/
/*----------Footer Start----------*/

footer {
	background: var(--greenish-white);;
	padding: 2rem 2rem;
	border-top: 1px solid var(--light-gray);
}
.footer-sections h1 {
	font-size: 1.5rem;
	margin-bottom: .7rem;
	padding-bottom: .5rem;
	border-bottom: 1px solid var(--light-gray);
}
.footer-sections p {
	text-align: justify;
	margin-bottom: .6rem;
}
.social-media-links a {
	display: flex;
	align-items: center;
	padding-bottom: 1rem;
	border-bottom: none;
}
.social-media-links a:hover {
	border-bottom: none;
}
.social-media-links i {
	color: var(--matte-black);
	padding-right: 1rem;
	font-size: 1.5rem;
	transition: .4s ease;
}
.footer-section-box {
	display: flex;
	margin-bottom: .6rem;
}
.footer-section-box p {
	margin: 0 .5rem 0 0;
}
.footer-section-box a {
	display: block;
}
.addresses .footer-section-box {
	display: block;
}
.addresses .footer-section-box h4 {
	font-size: 1rem;
	font-weight: 600;
	margin: 0 0 .5rem 0;
}

/*__________Footer Queries Start__________*/
@media screen and (max-width: 991.8px) {
	
	.footer-sections {
		margin-bottom: 2rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid var(--light-gray)
	}
	.footer-sections h1 {
		border-bottom: none;
	}
}
/*__________Footer Queries End__________*/
/*----------Footer End----------*/


/*----------Products Page Start----------*/

/*----------Products Start----------*/
.main-body {
	margin-top: 111.18px;
	margin-bottom: 2rem;
}
.main-body.home {
	margin-bottom: 0;
}
.filter-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem 1rem 1rem;
	margin: 0 0 2rem 0;
	border-bottom: 1px solid var(--light-gray)
}
.filter-container h5 {
	font-size: 1.5rem;
}
.filter-select-box {
	padding: 1rem;
}

.product-card {
	overflow: hidden;
	border: 1px solid var(--light-gray);
	border-radius: 10px;
	margin-bottom: 2rem;
}
.product-card-header {
	display: flex;
	align-items: center;
	background: var(--off-white);
	justify-content: center;
}
.product-card-header > img {
	max-width: 200px;
	padding: 1rem;
}
.product-card-body {
	padding: .5rem 1rem;
	border-top: none;
}
.product-card-body h1 {
	font-size: 1.2rem;
	font-weight: 600;
	margin-bottom: .5rem;
}
.product-card-body p {
	margin-bottom: .5rem;
}
.pagination-container {
	display: flex;
	justify-content: flex-end;
}
ul.pagination-custom {
	display: flex;
}
li.pageitem-custom {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0rem .2rem;
	padding: .5rem 1rem;
	text-align: center;
	min-width: 35px;
	min-height: 35px;
	border: 1px solid var(--light-gray);
	border-radius: 5px;
	cursor: pointer;
	transition: .2s ease-out;
}
li.pageitem-custom:hover {
	background: var(--gray);
	border: 1px solid var(--gray);
}
li.pageitem-custom:hover a.pagelink-custom {
	color: var(--white) !important;
}
li.pageitem-custom.active {
	background: var(--matte-black);
}
li.pageitem-custom.active a.pagelink-custom {
	color: var(--white) !important;
}
a.pagelink-custom {
	color: var(--matte-black);
}
/*.aa {
	border: 1px solid;
	height: 60vh;
}*/
/*__________Products Media Queries Start__________*/

@media screen and (max-width: 767.8px) {

	.filter-container {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}
	.filter-container h5 {
		margin-bottom: 1rem;
	}
	
}

/*__________Products Media Queries End__________*/

/*----------Products End----------*/

/*----------Products Page End----------*/

/*----------Services Page Start----------*/

.services {
	padding: 0 1rem;
}
.service-card {
	border: 2px solid var(--light-gray);
	margin-bottom: 2rem;
	border-radius: 10px;
}
.service-card-image {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.service-card-image img{
	padding: 3rem;
	max-width: 300px;
}
.service-card-info {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.service-card-info {
	padding: 1rem;
}
.service-card-info h1 {
	margin-bottom: 1rem;
}
.service-card-info p {
	text-align: justify;
}
/*----------Services Page End----------*/
/*----------------------------------------------------------------------------------*/
/*----------Projects Page adjustments Start----------*/

.services.projects .service-card {
	border: none;
	padding: 3rem;
	margin-bottom: 0;
}
.services.projects .service-card-image img {
	max-width: 500px;
}
@media screen and (max-width: 991.8px) {
	.services.projects .service-card {
		border: none;
		padding: 0;
		margin-bottom: 0;
	}
}
/*----------Projects Page adjustments End----------*/
/*----------------------------------------------------------------------------------*/
/*----------About Start----------*/
.about-heading h1 {
	color: var(--primary-dark-green);
}
.about-content h1 {
	font-size: 2rem;
	margin-bottom: .5rem;
}
.about-content p {
	text-align: justify;
}
.about-intro-text {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.about-intro-text p {
	text-align: justify;
	padding: 0 1rem 0 0;
}
.about-intro-image {
	display: flex;
	justify-content: center;
	align-items: center;
}
.about-intro-image img {
	max-width: 350px;
	padding: 2rem;
}
.about-iso-image {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.about-iso-image img {
	max-width: 450px;
	max-height:150px;
	box-shadow: 5px 5px 1px 0 rgba(0,0,0,0.3);
}
.about-iso-text {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.about-industry-xp-text {
	margin-bottom: 2rem;
}
.about-industry-xp-image img {
	height: 250px;
	box-shadow: 5px 5px 1px 0 rgba(0,0,0,0.3);
}

@media screen and (max-width: 991.8px) {
	.about-intro-text p {
		text-align: justify;
		padding: 0;
	}
	.about-iso-image {
		margin: 0 0 1rem 0;
		justify-content: center;
	}
	.about-industry-xp-image img {
		margin-bottom: 1rem;
		height: auto;
	}
}
/*----------About End----------*/
/*----------------------------------------------------------------------------------*/
/*----------Contact Start----------*/
.contact-form input,textarea  {
	padding: 1.5rem !important;
	font-size: 1.2rem !important;
}
.contact-form input:focus, textarea:focus {
	border-color: transparent !important;
	box-shadow: 0 0 5px 0 rgba(39, 206, 94, 1) !important;
}
.contact-form button {
	padding: 1rem 2rem;
}
/*----------Contact End----------*/
/*----------------------------------------------------------------------------------*/
/*----------Gallery Start----------*/
.gallery-container {
	padding: 2rem 5rem;
}
.gallery-heading {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 1rem 0;
}
.gallery-heading h1 {
	text-transform: uppercase;
	border: 3px solid var(--matte-black);
	padding: .5rem 1rem;
	margin-bottom: 1rem;
	font-weight: 400;
	letter-spacing: .5rem;
}
.gallery-images {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.gallery-images a.image {
	position: relative;
	margin-bottom: 1rem;
}
.gallery-images a.image img {
	transition: .5s ease;
}
.gallery-images a.image:hover img {
	transform: scale(1.05);
}
.lb-caption {
	display: block;
	color: var(--light-gray);
	font-size: .9rem !important;
	padding: .5rem 0;
}
/*----------Gallery End----------*/
/*----------------------------------------------------------------------------------*/
/*----------404 Start----------*/
.no-page-container {
	/*min-height: calc(100vh - 355.56px - 111.09px - 28.59px);*/
}
.no-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 355.56px - 82.59px - 28.59px);
}
.no-page h1 {
	margin-bottom: 1rem;
	font-size: 2rem;
}
.no-page i {
	margin-right: 1rem;
	font-size: 2rem;
}
/*----------404 End----------*/


